{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'banking/assets/vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'banking/assets/vendors/css/vendor.bundle.base.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'banking/assets/css/custom.css'%}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'banking/assets/images/favicon.png'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js" integrity="sha256-C7DTYRJLG+B/VEzHGeoPMw699nsTQYPAXHKXZb+q04E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css" integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
  
</head>

<body class="sidebar-fixed">
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row navbar-success">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="{% url 'index' %}"><img src="{% static 'banking/assets/images/obss.svg'%}" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img src="{% static 'banking/assets/images/2.svg'%}" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
             <!--    <div class="search-field d-none d-md-block">
                    <form class="d-flex align-items-center h-100" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
                        </div>
                    </form>
                </div> -->
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                <img src="{% static 'banking/assets/images/faces/user_avatar.png'%}" alt="image">
                                <span class="availability-status online"></span>
                            </div>
                            <div class="nav-profile-text">
                                {% if user %}
                                {% for x in user %}
                                <p class="mb-1 text-black">{{x.fname}} {{x.lname}}</p>
                                {% endfor %}
                                {%else%}
                                <p class="mb-1 text-black">Unregistered</p>
                                {%endif%}
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item dropdown-item-custom" href="{% url 'view_all_transactions' %}">
                                <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropdown-item-custom" href="{% url 'logout_view' %}">
                                <i class="mdi mdi-logout mr-2 text-success"></i> Signout </a>
                        </div>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-email-outline"></i>
                            <span class="count-symbol bg-warning"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <h6 class="p-3 mb-0">Recent Mails</h6>
                            <div class="dropdown-divider"></div>
                            {% if newmails %}
                            {%for x in newmails %}
                            <a class="dropdown-item preview-item preview-item-custom" target="_blank" href="{% url 'view_email' emailId=x.id%}">
                                <div class="preview-thumbnail">
                                    <img src="{% static 'banking/assets/images/faces/user_avatar.png'%}" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">{{x.subject}}</h6>
                                    <p class="text-gray mb-0">{{x.date}}</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            {% if forloop.last %}
                            <h6 class="p-3 mb-0 text-center">{{ forloop.counter }} New Mails</h6>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </li>
                <!--     <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-format-line-spacing"></i>
                        </a>
                    </li> -->
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                {% if user %}
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="{% static 'banking/assets/images/faces/user_avatar.png'%}" alt="profile">
                                <span class="login-status busy"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                {% if user %}
                                {% for x in user %}
                                <span class="font-weight-bold mb-2">{{x.fname}} {{x.lname}}</span>
                                <span class="text-secondary text-small">User</span>
                                {% endfor %}
                                {%else%}
                                <p class="mb-1 text-black">Unregistered</p>
                                {%endif%}
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    {% if request.get_full_path == '/' %}
                    <li class="nav-item">
                        <a class="nav-link nav_link_custom" href="#" id="transfer">
                            <span class="menu-title">Transfer</span>
                            <i class="fas fa-exchange-alt menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_link_custom" href="#" id="deposit">
                            <span class="menu-title">Deposit</span>
                            <i class="fas fa-donate menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item nav_link_custom">
                        <a class="nav-link nav_link_custom" href="#" id="withdraw">
                            <span class="menu-title ">Withdraw</span>
                            <i class="fas fa-money-bill-wave menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item nav_link_custom">
                        <a class="nav-link nav_link_custom" href="#" id="loan">
                            <span class="menu-title">Loan</span>
                            <i class="fas fa-hand-holding-usd menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_link_custom" href="#" id="payLoan">
                            <span class="menu-title">Pay Loan</span>
                            <i class="fas fa-wallet menu-icon"></i>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link nav_link_custom" href="{% url 'view_all_mail'%}">
                            <span class="menu-title">Emails</span>
                            <i class="fas fa-mail-bulk menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_link_custom" href="{% url 'payments'%}">
                            <span class="menu-title">Docs</span>
                            <i class="fas fa-file menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item sidebar-actions">
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    
                    <!-- content-wrapper ends -->
                    {% if user %}
                    {% block body %}
                    {% endblock %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Complete form validation</h4>
                                    <form class="cmxform mt-4" id="signupForm"  novalidate="novalidate">
                                        <fieldset>
                                            <div class="form-group">
                                                <label for="firstname">Firstname</label>
                                                <input id="fname" class="form-control form-control-danger" name="firstname" type="text" aria-invalid="true">
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname">Lastname</label>
                                                <input id="lname" class="form-control form-control-danger" name="lastname" type="text">
                                            </div>

                                             <div class="form-group">
                                                <label for="Middle Name">Middle Name</label>
                                                <input id="mname" class="form-control form-control-danger" name="Middle Name" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="Province">Province</label>
                                                <input id="Province" class="form-control form-control-danger" name="Province" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="City">City</label>
                                                <input id="City" class="form-control form-control-danger" name="City" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="Street">Street</label>
                                                <input id="Street" class="form-control form-control-danger" name="Street" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="Barangay">Barangay</label>
                                                <input id="Barangay" class="form-control form-control-danger" name="Barangay" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="Zip">Zip</label>
                                                <input id="Zip" class="form-control form-control-danger" name="Zip" type="text">
                                            </div>
                                            <input class="btn btn-success" type="submit" value="Submit">
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <script>
                                document.write(new Date().getFullYear());
                                </script> <a href="https://bank-of-dnsc.herokuapp.com/" target="_blank">Bank of Dnsc</a>. All rights reserved.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">We keep you and your money safe. <i class="mdi mdi-heart text-danger"></i></span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'banking/assets/vendors/js/vendor.bundle.base.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.6.0/bootstrap-maxlength.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'banking/assets/vendors/chart.js/Chart.min.js'%}"></script>
    <script src="{% static 'banking/assets/js/bootstrap-datepicker-min.js'%}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'banking/assets/js/off-canvas.js'%}"></script>
    <script src="{% static 'banking/assets/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'banking/assets/js/misc.js'%}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
   <!-- <script src="{% static 'banking/assets/js/dashboard.js'%}"></script> -->
    <script src="{% static 'banking/assets/js/todolist.js'%}"></script>
    <script src="{% static 'banking/assets/js/validation.js'%}"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <!-- End custom js for this page -->
    {% block scripts %}
    {% endblock %}
</body>

</html>