{% extends "banking/includes.html" %}
{% load static %}
{% block title %}
HOME
{% endblock %}
{% block pagetitle %}
BANK OF DAVAO DEL NORTE STATE COLLEGE
{% endblock %}
{% block pagetitlesubheading %}
We keep you and your money safe. Maybe...
{% endblock %}
{% block reportsbtn %}
{% endblock %}
{% block scripts%}
{% include 'banking/modals.html' %}
{% endblock %}
{% block body %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-success text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> Dashboard </h3>
    <!-- <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav> -->
</div>
<div class="row">
    {%for x in account %}
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="{% static 'banking/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Account Balance<i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5" ><span id="balance">$ {{x.account_balance}}</span></h2>
            </div>
        </div>
    </div>
    {%endfor%}
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="{% static 'banking/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Total Loaned Amount<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5"><span id="totalloaned">${{totalLoaned}}</span></h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="{% static 'banking/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Loan Payables<i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5"><span id="payables">${{loansPayable}}</span></h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pending Payments</h4>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Invoice Id </th>
                                <th> Status </th>
                                <th> Amount </th>
                                <th> Date Created </th>
                                <th> Merchant </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if payments %}
                            {% for x in payments %}
                            <tr>
                                <td>{{x.id}}</td>
                                <td>{{x.invoiceId}}</td>
                                <td>
                                    <label class="badge badge-gradient-danger">{{x.pending}}</label>
                                </td>
                                <td> ${{x.amount}}</td>
                                <td>{{x.dateCreated}}</td>
                                <td>{{x.seller.account_number}}</td>
                                <td>
                                    <button class="btn btn-success" onclick="confirmpayment({{x.id}})">Confirm</button>
                                    <button class="btn btn-danger" onclick="cancelpayment({{x.id}})">Cancel</button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <h4 class="card-title">Api Key</h4>
                        {%for x in account %}
                        <input type="password" style="font-size: 22px; color: black; border: 0 !important; cursor: pointer; background: transparent !important;"  readonly name="key" id="key" class="form-control" value="{{x.api_key}}" onclick="showkey()">
                        {%endfor%}
                        <div class="mt-3 ">
                            <button type="button" class="btn btn-success" id="copyKey" >
                               
                            Copy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
   
    <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="{% static 'banking/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Banking Card Details<i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                {% for x in Card %}
                <h2 class="mb-1"><span id="payables">Card Number: {{x.card_number}}</span></h2>
                <span class="mr-2" style="font-size: 22px; color: white; border: 0 !important; cursor: pointer;">CVV:</span><input type="password" style="font-size: 22px; color: white; border: 0 !important; cursor: pointer; background: transparent !important;"  readonly name="cvv" id="cvv" class="" value="" 
                onclick="showkey1()">
                <script> $("#cvv").val({{x.cvv}})</script>
                {% endfor %}
            </div>
        </div>
    </div>

      <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="{% static 'banking/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Account Details<i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                {%for x in account %}
                <h2 class="mb-1"><span id="payables">Account Number: {{x.account_number}}</span></h2>
                {% endfor %}
            </div>
        </div>
    </div>
<!-- 
        <div class="col-md-6 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
<canvas id="myChart" style="height: 247px; display: block; width: 494px;" width="617" height="308" class="chartjs-render-monitor"></canvas>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["2013", "2014", "2014", "2015", "2016", "2017"],
    datasets: [{
      label: '# of Votes',
      data: [10, 19, 3, 5, 2, 50],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1,
    }]
  },
    options: {
        scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    },
     layout: {
            padding: {
                left: 10,
                right: 15,
                top: 0,
                bottom: 0
            }
        }
    }
});
</script>
            </div>
        </div>
    </div> -->

  
</div>
<!-- <div class="row">
    <div class="col-md-12">
         <div id="aceExample" class="ace-editor">

    </div>

    </div>
    </div>
    <script>
      var editor = ace.edit("aceExample");
      editor.setTheme("ace/theme/chaos"); //set theme
      editor.getSession().setMode("ace/mode/python"); //set mode
      document.getElementById('aceExample').style.fontSize='1rem'; //styling
    </script> -->
{% endblock %}