{% extends "banking/includes.html" %}
{% block title %}
HOME
{% endblock %}
{% block pagetitle %}
BANK OF DAVAO DEL NORTE STATE COLLEGE
{% endblock %}
{% block pagetitlesubheading %}
We keep you and your money safe. Maybe...
{% endblock %}
{% block reportsbtn %}
{% endblock %}
{% block scripts%}
{% include 'banking/modals.html' %}
{% endblock %}
{% block body %}
<div class="dropdown d-inline-block">
    <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-primary">CARD DETAILS</button>
    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-lg dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 32px, 0px);">
        <div class="dropdown-menu-header">
            <div class="dropdown-menu-header-inner bg-primary">
                <div class="menu-header-image" style="background-image: url('assets/images/dropdown-header/abstract1.jpg');"></div>
                <div class="menu-header-content">
                    <div>
                        {% for x in Card %}
                        <h5 class="menu-header-title">Card Number:{{x.card_number}}</h5>
                        <h6 class="menu-header-subtitle">Cvv:{{x.cvv}}</h6>
                        {% endfor %}
                    </div>
                   
                </div>
            </div>
        </div>

    </div>
</div>
<div class="mb-3 card">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
            Account number:
            {%for x in account %} {{x.account_number}}
            {%endfor%}
        </div>
    </div>
    {%for x in account %}
    <div class="no-gutters row">
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                    <i class="lnr-laptop-phone text-dark opacity-8"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">Cash Deposits</div>
                    <div class="widget-numbers">
                        <p id="balance">${{x.account_balance}}</p>
                    </div>
                    <div class="widget-description opacity-8 text-focus">
                        <div class="d-inline text-success pr-1">
                            <i class="fa fa-angle-up"></i>
                            <span class="pl-1">1%</span>
                        </div>
                        Increased
                    </div>
                </div>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        {%endfor%}
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
                    <i class="lnr-graduation-hat text-white"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">Total Loaned Amount</div>
                    <div class="widget-numbers"><span id="totalloaned">${{totalLoaned}}</span></div>
                    <div class="widget-description opacity-8 text-focus">
                        Grow Rate:
                        <span class="text-danger pl-1">
                            <i class="fa fa-angle-up"></i>
                            
                        </span>
                    </div>
                </div>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-9 bg-success"></div>
                    <i class="lnr-apartment text-white"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">Loan Payable</div>
                    <div class="widget-numbers text-success"><span id="payables">${{loansPayable}}</span></div>
                    <div class="widget-description text-focus">
                        Increased by
                        <span class="text-danger pl-1">
                            <i class="fa fa-angle-up"></i>
                            
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-database icon-gradient bg-malibu-beach"></i>
                    Transaction List
                </div>
            </div>
            <div class="scroll-area-lg">
                <div class="scrollbar-container ps ps--active-y">
                    <div class="p-2">
                        <ul class="todo-list-wrapper list-group list-group-flush">
                            <!-- {% if transactions %} -->
                            <!-- {% for x in transactions %} -->
                            <li class="list-group-item">
                                <div class="todo-indicator bg-warning"></div>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-2">
                                            <div class="custom-checkbox custom-control">
                                                <input type="checkbox" id="transac{{x.id}}" class="custom-control-input">
                                                <label class="custom-control-label" for="transac{{x.id}}">&nbsp;</label>
                                            </div>
                                        </div>
                                        {% if x.transaction_type == 'Loan Payment'%}
                                        <div class="widget-content-left">
                                            <div class="widget-heading">
                                                {{x.transaction_type}}
                                                <div class="badge badge-primary ml-2">{{x.date}}</div>
                                            </div>
                                            <div class="widget-subheading">
                                                <p style="color: black !important;">Amount: {{x.amount}}</p>
                                                <p>Loan New Balance: {{x.balance}}</p>
                                                <p>Account: {{x.account_id.account_number}}</p>
                                                <p>Card Number: {{x.creditcard_id.card_number}}</p>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="widget-content-left">
                                            <div class="widget-heading">
                                                {{x.transaction_type}}
                                                <div class="badge badge-primary ml-2">{{x.date}}</div>
                                            </div>
                                            <div class="widget-subheading">
                                                <p style="color: black !important;">Amount: {{x.amount}}</p>
                                                <p>New Balance: {{x.balance}}</p>
                                                <p>Account: {{x.account_id.account_number}}</p>
                                                <p>Card Number: {{x.creditcard_id.card_number}}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            <!-- {% endfor %} -->
                            <!-- {% endif %} -->
                        </ul>
                    </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; height: 400px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 208px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-database icon-gradient bg-malibu-beach"></i>
                    Notification List
                </div>
            </div>
            <div class="scroll-area-lg">
                <div class="scrollbar-container ps ps--active-y">
                    <div class="p-2">
                        <ul class="todo-list-wrapper list-group list-group-flush">
                            <!-- {% if notif %} -->
                            <!-- {% for x in notif %} -->
                            <li class="list-group-item">
                                <div class="todo-indicator bg-warning"></div>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-2">
                                            <div class="custom-checkbox custom-control">
                                                <input type="checkbox" id="notifCheck{{x.id}}" class="custom-control-input">
                                                <label class="custom-control-label" for="notifCheck{{x.id}}">&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">{{x.title}}
                                                {% if x.status == 'Unread' %}
                                                <div class="badge badge-sucess ml-2">{{x.status}}</div>
                                                {% else %}
                                                <div class="badge badge-primary ml-2">{{x.status}}</div>
                                                {% endif %}
                                            </div>
                                            <div class="widget-subheading">
                                                <p>{{x.date}}</p>
                                                <p>{{x.body}}</p>
                                                <p>From: {{x.sender_id.account_number}}</p>
                                            </div>
                                            <div class="widget-content-right widget-content-actions">
                                                <button class="border-0 btn-transition btn btn-outline-success">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <button class="border-0 btn-transition btn btn-outline-danger">
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                            </li>
                            <!-- {% endfor %} -->
                            <!-- {% endif %} -->
                        </ul>
                    </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; height: 400px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 208px;"></div>
                    </div>
                </div>
            </div>
            <div class="d-block text-right card-footer">
                <button class="mr-2 btn btn-link btn-sm">Mark as Read</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Pending Payments
                <div class="btn-actions-pane-right">
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Invoice ID</th>
                            <th class="text-center">Confirmed</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">Date Created</th>
                            <th class="text-center">Merchant Account Number</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if payments %}
                        {% for x in payments %}
                        <tr id="trid{{x.id}}">
                            <td class="text-center text-muted">{{x.id}}</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle" src="assets/images/avatars/1.jpg" alt=""></div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">{{x.invoiceId}}</div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center"><div class="badge badge-info">{{x.pending}}</div></td>
                            <td class="text-center">
                                {{x.amount}}
                            </td>
                            <td class="text-center">{{x.dateCreated}}</td>
                            <td class="text-center" style="width: 150px;">
                               {{x.seller.account_number}}
                            </td>
                            
                            <td class="text-center">
                                <button type="button" onclick="confirmpayment({{x.id}})" class="btn btn-success btn-sm">Confirm</button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="d-block text-center card-footer">
                <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                <button class="btn-wide btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}